 body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', 'Helvetica Neue', Roboto, Arial, sans-serif;
	font-size: 20px;
	background: radial-gradient(circle,rgba(232, 225, 228, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(213, 216, 219, 1) 100%);
    color: #676768;
	user-select: none;
	webkit-user-select: none;
	}
    
	svg {
		overflow: visible;
		margin: 3em;
	}
	
	line, polyline, path {
		fill: none;
		stroke: black;
	}
	
	.x text {
		text-anchor: middle;
	}
	
	.y text {
		text-anchor: end;
		dominant-baseline: middle;
	}
	
    h1 {
		text-align: center;
        font-size: 28px;
        line-height: 1.3;
        margin: 24px 0;
		color: #7c7b7b;
        }
        
    h2 {
        font-size: 24px;
        line-height: 1.4;
        margin: 20px 0;
		text-align: center;
        }
        
    p {
        font-size: 18px;
        margin: 16px 0;
        }
        
    i, em {
            font-size: 16px;
            font-style: italic;
        }
	
	ul li {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	a {
        color: #0d47a1;
        text-decoration: underline;
        }
	
	a:hover {
        color: #8c8989;
        }
   
    .flex {
		display: flex;
		margin: 0;
		justify-content: center; 
		align-items: flex-start;    
		padding-top: 20px; 
		box-sizing: border-box;
		}
 
/* МЕНЮ */ 
 
	nav {
		display: flex;
		justify-content: center;
		background-color: #ffffff;
		color: #1a73e8;
		}

	ul.menu {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		}
  
	ul.menu li {
		margin: 0;
		}

	ul.menu li a {
		display: block;
		padding: 8px 16px;
		color: #7F7F7F;
		font-size: 18px;
		text-decoration: none;
		transition: background-color 0.3s;
		}

	ul.menu li a:hover {
		background-color: #adabab;
		color: white;
		}

/* ТЕКСТОВЫЙ БЛОК */ 

	.grid-content {
		display: grid;
		width: 100%;
		max-width: 900px;
		grid-template-columns: 1fr;
		justify-items: center; /* Центрируем элементы внутри grid */
		background: white;
		border-radius: 5px;    
		padding: 20px;
		box-sizing: border-box;
		margin: 0 auto; 
		}

	.item-content {
		width: 100%;
		max-width: 900px; 
		box-sizing: border-box;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		}

	.important {
		display: grid; 
		grid-template-columns: 10px 1fr; 
		width: 100%;
	}
	
	.important-block {
		background-color: #EFEFEF; 
		padding-left: 10px; 
		padding-right: 10px; 
		margin-right: 30px; 
		padding-top: 10px; 
		padding-bottom: 10px; 
		font-size: 17px;
	}
	
	.horse {
		display: flex;  
		justify-content: center;
		align-items: flex-start;
		
		margin: 0 auto;
		width: 300px;
	}
	
	.background-horse {
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7); 
		padding-left: 10px; 
		margin: 0; 
		padding-right: 10px; 
		border-radius: 5%;
	}
	
/* БЛОК ПРЕЗЕНТАЦИЯ */ 

	.presentation {
		position: relative;
		min-height: 380px;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;	
        }
        
    .presentation div {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
		transition: opacity 0.5s ease;
		margin: 0 auto;     
        }
        
	.item-presentation {
		width: 100%;
		max-width: 900px; 
		box-sizing: border-box;
		margin: 0 auto;
		}
  
	.content {
		display: flex; 
		justify-content: center;
		}
		
	.content img {
		border-radius: 10px;
		}
		
/* Все контенты скрыты по умолчанию */
    .presentation .content {
        opacity: 0;
        }
        
/* Показываем только активный контент */
	#slide1:checked ~ .presentation #content1,
	#slide2:checked ~ .presentation #content2,
	#slide3:checked ~ .presentation #content3,
	#slide4:checked ~ .presentation #content4,
	#slide5:checked ~ .presentation #content5 {
		opacity: 1;
	}
        
    input[type="radio"] {
        display: none;
        }
        
    .controls {
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
		width: 250px;
        }
		
	.btn {
		display: inline-block;
		background-color: #f2f2f2;
		color: #b3b3b5;
		font-weight: bold;
		text-decoration: none;
		border-radius: 5px;
		cursor: pointer;
        }
        
    .btn:hover {
        background-color: #b7b5b5;	
		color: white;
        }
        
	#slide1:checked ~ .controls .btn[for="slide1"],
	#slide2:checked ~ .controls .btn[for="slide2"],
	#slide3:checked ~ .controls .btn[for="slide3"],
	#slide4:checked ~ .controls .btn[for="slide4"],
	#slide5:checked ~ .controls .btn[for="slide5"] {
		background-color: #b7b5b5;
		color: white;
	}
        
    ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1px;
		padding: 0;
		margin: 0;
        }
        
    ul li {
        list-style: none;
        }
        
    .box {
		display: block;
		align-content: center;
		padding: 5px;
		margin: 0;
		text-align: center;
		align-items: center;
		width: 30px; 
		height: 30px;
		border-radius: 3px;
		
        }

/* ФОТО + ТЕКСТ */ 
	.item {
		text-align: start;
		width: 100%;
		max-width: 350px; 
		box-sizing: border-box;
		}
  
   .text {
		text-align: start;
		width: 100%;
		max-width: 500px; 
		box-sizing: border-box;
		padding: 10px;
		} 
  
	.conteiner-photo {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		}
  
	img {
		max-width: 100%;
		height: auto;
  }
  
/* ФОТО галерея */ 
  
	.grid-gallery {
		display: grid;
		width: 100%;
		max-width: 900px;
		grid-template-columns: 1fr;
		justify-items: center; /* Центрируем элементы внутри grid */
		background: white;
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
		margin: 0 auto; 
		}
  
	.item-gallery {
		text-align: start;
		width: 100%;
		max-width: 250px; 
		box-sizing: border-box;
		}
	
	
  
/* ГРАФИКИ */ 
  
	.grid-gramm {
		display: grid;
		width: 100%;
		height: 430px;
		max-width: 900px;
		margin: 0 auto;	
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7);
		border-radius: 10px;
		}
	
	
	.item-diagramm {
		text-align: flex-start;
		width: 100%;
		max-width: 900px; 
		box-sizing: border-box;
		}

	.svg-gramm {
		display: block;
		width: 100%;
		height: 100%;
		}
		
	.axis-x, .axis-y {
		stroke: #a0a5a1;
		stroke-width: 2;
		}

	.x text {
		text-anchor: middle;
		}
  
	.custom-list1, .custom-list2, .custom-list3 {
		list-style: none; 
		padding-left: 0;
		}

	.custom-list1 li:nth-child(1):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #04a3d8;
		}

	.custom-list1 li:nth-child(2):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #0592c1;
		}

	.custom-list1 li:nth-child(3):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #0382ad;
		}

	.custom-list1 li:nth-child(4):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #0380aa;
		}

	.custom-list1 li:nth-child(5):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #046c8e;
		}

	.custom-list1 li:nth-child(6):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #025875;
		}

	.custom-list1 li:nth-child(7):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #025875;
		}
		
	.custom-list2 li:nth-child(1):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #04a3d8;
		}

	.custom-list2 li:nth-child(2):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #025875;
		}
 
    .custom-list3 li:nth-child(1):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #57aff2;
		} 
		
    .custom-list3 li:nth-child(2):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #4169e1;
		}  		
	
	.custom-list3 li:nth-child(3):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #5f9ea0;
		}  
		
	.custom-list3 li:nth-child(4):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #4682b4;
		}
    
	.custom-list3 li:nth-child(4):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #4682b4;
		}		
	
	.custom-list3 li:nth-child(5):before {
		content: "■";  
		margin-right: 10px; 
		font-size: 1em;
		color: #696969;
		}	

	.hover-text {display: none; }
	circle:hover + .hover-text {display: block;}
	
	.flexbox1, .flexbox2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 18px;
		margin-bottom: 20px;
		}
	
	.flexbox2 {
		margin-top: 10px;
		margin-bottom: 20px;		
	}
	
	.zag1 {
		fill: #025875; 
		stroke: #676768; 
		font-size: 0.85em; 
		font-weight: lighter;
	}
	
	.text-y {
		stroke: #676768; 
		font-size: 0.85em; 
		font-weight: lighter;
	}
	
	
	
	.text-stolb {
		stroke: #676768; 
		font-size: 0.85em; 
		font-weight: lighter;
	}
	
	.month-font {
		writing-mode: sideways-lr; 
		text-orientation: upright;
	}
	
	.year {
		fill: #025875; 
		stroke: #676768; 
		font-size: 0.75em; 
		font-weight: lighter;
	}
	
	.hover-text {
		stroke: #676768; 
		font-size: 0.85em; 
		font-weight: lighter;
	}
	
	.percent  {
		fill: #e7e7e7; 
		font-weight: lighter; 
		font-size: 0.5em;
	}

/* ДИАГРАММА */ 
	
	.flex {
		display: flex;
		margin: 0;
		justify-content: center; 
		align-items: flex-start;    
		padding-top: 20px; 
		box-sizing: border-box;
		}

  .grid-sector {
		display: grid;
		width: 100%;
		max-width: 900px;
		grid-template-columns: 1fr;
		justify-items: center; 
		background: white;
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
		margin: 0 auto; 
		}
		
	.item-sector {
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		}
  
   	.conteiner-sector {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		}
	
	.text-sector {
		text-align: start;
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		} 
  
/* FAQ */ 
  
	.grid-accordeon {
		display: grid;
		width: 100%;
		max-width: 900px;
		grid-template-columns: 1fr;
		justify-items: center; /* Центрируем элементы внутри grid */
		background: white;
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
		margin: 0 auto; 
		}
  
   .item-accordeon {
		text-align: start;
		width: 100%;
		max-width: 1280px; 
		box-sizing: border-box;
		}
  
	.conteiner-accordeon {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 5px;
		padding: 0;
		background-color: #f2f2f2;
		}
  
	.conteiner-accordeon:first-child {
		border-radius: 10px 10px 0px 0px; 
		}  
  
	.conteiner-accordeon:last-child {
		border-radius: 0px 0px 10px 10px; 
		}  
    
	details {
        margin-left: 20px;
        margin-right: 20px;
		cursor: pointer;
		}
    
    summary {
        padding-top: 15px;
        padding-bottom: 15px;
		}
    
    .question {
        margin-left: 10px;
        margin-right: 10px;
		font-size: 18px;
		}
    
    .answer {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
		font-size: 16px;
        padding: 10px;
        border: dashed 2px white;
        border-radius: 10px 10px 10px 10px; 
		}
    
/* Футер */
     
    .footer {
		display: flex;
		justify-content: center;
		background-color: #ffffff;
		color: #7F7F7F;
		padding: 20px 0;
		margin-top: 20px;
		}
  
	.footer-menu {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		gap: 30px;
		}
  
    .footer-flex {
        display: flex;
        justify-content: center;
        align-items: center;
		}
    
    .footer-item {
        display: flex;
        align-items: center;
        padding: 10px 0;
		}
    
    .footer-icon {
        margin-right: 10px;
		}
    
    .footer-link {
        color: #7F7F7F;
		font-size: 14px;
        text-decoration: none;
        transition: color 0.3s;
		}
    
    .footer-link:hover {
        color: #555;
		font-size: 14px;
		}

  /* Адаптивные настройки */
  
	@media screen and (max-width: 768px) {
        h1 {
            font-size: 28px;
            }
            
        h2 {
            font-size: 22px;
            }
            
        p, i, em, a, li, span {
            font-size: 15px;
            }
        }
		
		
/* 319px - 539px */
@media (min-width: 319px) and (max-width: 539px) {

    body, html {
		font-size: 15px;
		}
    
	ul.menu li a {
		padding: 15px 0px;
		}
  
    .grid {
		grid-template-columns: 1fr;
		gap: 10px;
		}
    
    .item, .text {
		justify-content: center;
	    margin: 0 auto;
		border: solid 1px #00C6BD;
		max-width: 300px;
		box-sizing: border-box;
		border: solid 1px #00C6BD;
		}
	
	.text {
		padding: 10px;
		justify-content: center;
	}
    
	.grid-content {
		grid-template-columns: 1fr;
		}
  
  .grid-gramm {
		grid-template-columns: 1fr;
		font-size: 10px;
		max-height: 210px;
		}
  
	.item-content {
		max-width: 100%;
		}

    .item-gallery {
		margin-bottom: 10px;
		}
  
    .item-gallery:last-child {
		margin-bottom: 0px;
		}

    summary {
        display: block;
        margin: 0;
        padding: 20px 0;
        font-size: 23px;
		}
	
	.question {
		font-size: 16px;
		margin-left: auto;
		margin-right: auto;
		}
	
	.presentation {
            min-height: 200px;
			max-width: 300px;
            }
	
    .size svg  {
		max-width: 250px;
		margin: 0;
		padding: 0;
	}
  
   	.conteiner-sector {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		text-align: center;
		margin: 0 auto;
		max-width: 319px;
		max-height: 300px;
		padding: 0;
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7);
		border-radius: 5px; 
		}
	
	.text-sector {
		text-align: start;
		width: 100%;
		max-width: 300px;
		box-sizing: border-box;
		padding: 10px;
		} 
	
	.svg-gramm circle {
		r: 3;
	}
	
	h2 {
		text-align: center;
	}
	
	.horse  {
		width: 230px;
		justify-content: center;
		margin: 0 auto;
		padding: 0;
	}
	
	.horse svg {
		width: 200px;
	}
	
	.line-width {
		stroke-width: 1;
	}
	
  }
  
  
  /* 540px - 600px */
  @media (min-width: 540px) and (max-width: 600px) {
    
	body, html {
		font-size: 15px;
		} 
    
	.item {
		max-width: 100%;
		margin: 0 auto;
		}
    
    .text {
		max-width: 100%;
		margin: 0 auto;
		border: solid 1px #00C6BD;
		width: 380px;
		}
    
    .item-gallery {
		margin-bottom: 10px;
		border: solid 3px brown;
		}
  
    .item-gallery:last-child {
		margin-bottom: 0px;
		}
	
	.flexbox1 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 18px;
		}
	
	.grid-gramm {
		grid-template-columns: 1fr;
		font-size: 10px;
		max-height: 250px;
		}
  
  .presentation {
        min-height: 300px;
		max-width: 500px;
		margin-left: auto;
        margin-right: auto;
        }
	svg .conteiner-sector {
		max-width: 250px;
		margin: 0;
		padding: 0;
	}
  
  .svg-gramm circle {
		r: 4;
	}
	
   	.conteiner-sector {
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0;
		max-width: 540px;
		max-height: 540px;
		padding: 0;
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7);
		border-radius: 5px; 
		}
	
	.text-sector {
		text-align: start;
		width: 100%;
		max-width: 540px;
		box-sizing: border-box;
		padding: 10px;
		} 
  }
  
  /* 767px - 1023px */
  @media (min-width: 767px) and (max-width: 1023px) {
    
	body, html {
        font-size: 15px;
		}
    
	.flex {
		display: flex;
		margin: 0;
		justify-content: center; 
		align-items: flex-start;    
		padding-top: 20px; 
		box-sizing: border-box;
		}
		
    .grid {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
		
	.grid-sector {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
    .item-sector {		
		width: 100%;
		max-width: 750px; 
		box-sizing: border-box;
		}
    
	.conteiner-sector {
		display: flex;
		justify-content: center;
		max-width: 600px;
		margin: 0;
		padding: 0;
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7);
		border-radius: 5px; 
		}
		
    .text {
		max-width: 100%;
		align-self: center;
		}
	
	.text-sector {
		text-align: start;
		width: 100%;
		max-width: 540px;
		box-sizing: border-box;
		padding: 10px;
		align-self: center;
		} 
		
	.grid-gallery {
		grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
	.flexbox1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
		font-size: 18px;
		max-width: 600px;
		margin: 0 auto;
		}
		
	.flexbox1, .flexbox2 {
		
		margin-bottom: 20px;
		}
	
	.flexbox2 {
		margin-top: 10px;
		margin-bottom: 20px;		
	}
	
	.grid-gramm:nth-child(1) {
		grid-template-columns: 1fr;
		font-size: 10px;
		max-height: 250px;
		border: solid 3px brown;
		}
	
	.grid-gramm:nth-child(2) {
		grid-template-columns: 1fr;
		font-size: 10px;
		max-height: 250px;
		}
  }
  
  /* 1024px - 1279px */
  @media (min-width: 1024px) and (max-width: 1279px) {
       
    .grid {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
    .grid-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
	
    .item {
		max-width: 100%;
		}
    
    .text {
		max-width: 100%;
		align-self: center;
		}
	
	.flexbox1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
		font-size: 18px;
		max-width: 1000px;
		height: 120px;
		margin: 0 auto;
		}	

.grid-sector {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
    .item-sector {		
		width: 100%;
		max-width: 750px; 
		box-sizing: border-box;
		}
    
	.conteiner-sector {
		display: flex;
		justify-content: center;
		max-width: 600px;
		margin: 0;
		padding: 0;
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7);
		border-radius: 5px; 
		}
		
    .text {
		max-width: 100%;
		align-self: center;
		}
	.text-sector {
		text-align: start;
		width: 100%;
		max-width: 540px;
		box-sizing: border-box;
		padding: 10px;
		align-self: center;
		} 
  }
  
/* 1280px и больше */
@media (min-width: 1280px) {
    
	.grid {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
    .grid-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
    .item {
        max-width: 100%;
		border: solid 1px #00C6BD;
		}
    
    .text {
        max-width: 100%;
		border: solid 1px #00C6BD;
		align-self: center;
		}
	
	.flexbox1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
		font-size: 18px;
		max-width: 1000px;
		height: 120px;
		margin: 0 auto;
		}
	.grid-sector {
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 30px;
		}
    
    .item-sector {		
		width: 100%;
		max-width: 750px; 
		box-sizing: border-box;
		}
    
	.conteiner-sector {
		display: flex;
		justify-content: center;
		max-width: 600px;
		margin: 0;
		padding: 0;
		background-image: radial-gradient(circle, #ffffff, #e3e3e3, #f5f7f7);
		border-radius: 5px; 
		}
		
    .text {
		max-width: 100%;
		align-self: center;
		}
	
	.text-sector {
		text-align: start;
		width: 100%;
		max-width: 540px;
		box-sizing: border-box;
		padding: 10px;
		align-self: center;
		} 
  }
  
/* Адаптивность меню */
  @media (max-width: 700px) {
    
	ul.menu {
		flex-direction: column;
		width: 100%;
		font-size: 16px;
		}

    ul.menu li a {
		border-top: 1px solid #E1E5E5;
		max-width: 100%;
		text-align: center;
		font-size: 16px;
		}

    ul.menu li:first-child a {
		border-top: none;
		}
	
	ul.menu li a:hover {
		background-color: #455c5f;
		color: white;
		}
  
 }    
    /* Адаптивность футера */
	
@media (max-width: 700px) {

    .footer-menu {
		flex-direction: column;
		font-size: 13px;
		gap: 15px;
		width: 100%;
		align-items: center;
		}
    
    .footer-item {
		width: 100%;
		font-size: 13px;
		justify-content: center;
		border-bottom: 1px solid #E1E5E5;
		padding: 0px 0;
		padding-bottom: 10px;
		}
    
	.footer-item li {
		justify-content: center;
		}
	
	.footer-item:last-child {
		border-bottom: none;
		}
}
