<style>

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 18px; 
}

h1 {
  
  padding-top: 35px;
  color: #4fb9e3;
  font-size: 30px;
  text-align: center;
}


table {
  text-align: center;
  width: 97%;
}



.txt {
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
}

/*
li {
   list-style-image: url('box.png');
}
*/


.markers li {
	list-style-image: url('/box3.png');
	padding: 0px;
	width: 290px;
}





p {
  font-size: 18px;
  text-align: left;
  margin-left: 5px;
  margin-right: 15px;
  padding-top: 10px;
}
 section {
        display: flex; /*каждый flex-элемент будет занимать одинаковое количество места в flex-контейнере*/
      }
 article {
        padding: 10px;
        margin: 10px;
        background: #dedfe0;
      }

.content-box {
  column-gap: 100px; /*расстояние между столбцами*/
  column-count: 3; /*количество столбцов*/
  column-rule: dotted 4px rgb(79 185 227); /*точки, толщина, цвет*/
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
  
}
.text {
  color: #067a94;
  font-size: 25px;
  column-span: 1;
  /*column-span: all;*/
  background-color: rgb(79 185 227);
  
  color: white;
  padding: 10px;
  text-align: left;
}

.text-content {
  font-size: 18px;
  text-align: left;
  padding-left: 25px;
}

#wrapper {
    margin: 544 auto 433px; 
    width: 399px;
      }
#footer {
    background-color: #4FB9E3; 
    position: fixed; 
	margin-top: 40px;
    left: 50;
    bottom: 0; 
    height: 60px;
    padding-left: 29px;
    color: #f3f2ff; 
    width: 97%; 
   }

.all-symbols {
    float:left;
    margin-top:19px;
    padding-left:199px;
  }


.symbol {
  margin-top: 1px;
  margin-left:29px;
  height:20px;
}

a img{
opacity:1;
}
a:hover img{
opacity:0.5;
}



  
  
  
  
  

}
.link {
  color: #000000;
}

.link:active {
  color: #ea5454;
}
  .content {
  padding-bottom: 700px;
}



/*слайдер*/


* {
   margin: 0;
   padding: 0;
}

.slider {
   width: 800px;
   height: 500px;
   margin-top: 580px; /*отступ слайдера */
   overflow: hidden;
   border: 10px solid #cccdce;
}

.middle {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}

.navigation {
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
}

.bar {
   width: 30px;
   height: 8px;
   margin: 6px;
   cursor: pointer;
   background-color: #000;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
}

.bar:hover {
   opacity: 1;
   transform:scale(1.1);
}

input[name="r"] {
   position: absolute;
   visibility: hidden;
}

.slides {
   width: 400%;
   height: 100%;
   display: flex;
}

.slide {
   width: 25%;
   transition: all 0.6s ease;
}

.img {
   width: 100%;
   height: 100%;
}

#r1:checked ~ .s1 {
   margin-left: 0;
}

#r2:checked ~ .s1 {
   margin-left: -25%;
}

#r3:checked ~ .s1 {
   margin-left: -50%;
}

#r4:checked ~ .s1 {
   margin-left: -75%;
   

}


















</style>





